$white:#fff;
$black:#000;
$cta-button-bg:#FCED70;
$section-bg:#F7EEE3;
$subscribe-bg: #514F4D;
$footer-bg:#131313;
$product-secondary: #9C9C9C;
$product-color-blue:#011F89;
$product-color-green:#3D8901;
$product-color-red:#890109;