@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Inter", sans-serif;
}

h2 {
  font-weight: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}
nav i {
  cursor: pointer;
}
nav .nav-options {
  display: none;
  cursor: pointer;
}

.logo {
  height: 50px;
  width: 100px;
  background: #d9d9d9;
}

@media (min-width: 750px) {
  .fa-bars {
    visibility: hidden;
  }
  nav .nav-options {
    display: flex;
    flex-direction: row;
    gap: 64px;
  }
  nav .nav-options div {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}
header {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: start;
  justify-content: flex-end;
}
header img {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  height: 500px;
}
header h1 {
  color: #fff;
  font-weight: normal;
  padding: 16px;
  position: absolute;
  top: 400px;
}
header a {
  background: #FCED70;
  text-decoration: none;
  padding: 16px 24px;
  color: #000;
  border-radius: 4px;
  border: none;
  margin: 0 0 1rem 1rem;
  position: absolute;
  bottom: 350px;
}

@media (min-width: 750px) {
  header {
    justify-content: start;
  }
  header img {
    width: 100%;
  }
  header h1 {
    padding: 54px 0 0 148px;
    position: absolute;
    top: 100px;
  }
  header a {
    margin: 0 0 0 148px;
    position: relative;
    bottom: 360px;
  }
}
.furniture,
.real-life-spaces {
  text-align: center;
  padding: 3rem 0;
}

.furniture-images,
.real-life-spaces-photos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: center;
}
.furniture-images img,
.real-life-spaces-photos img {
  width: 45%;
  border-radius: 4px;
}

.characteristics {
  background: #F7EEE3;
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  text-align: left;
  margin: 2rem 0;
}
.characteristics-shipping, .characteristics-modular, .characteristics-trees {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 16px;
  align-items: center;
}

.carrousel {
  text-align: center;
  width: 95%;
  padding: 1rem 0;
}

.carrousel-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  padding: 1rem;
  justify-content: center;
  overflow: hidden;
}
.carrousel-images img {
  border-radius: 4px;
  width: 40%;
}

@media (min-width: 750px) {
  .furniture-images img {
    width: 30%;
  }
  .characteristics {
    justify-content: center;
    padding: 4rem 0;
  }
  .characteristics-shipping, .characteristics-modular, .characteristics-trees {
    width: 30%;
  }
  .carrousel {
    justify-self: center;
  }
  .carrousel img {
    width: 25%;
  }
  .real-life-spaces-photos img {
    width: 20%;
  }
}
.nomad {
  background: #F7EEE3;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.nomad-text {
  width: 60%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.nomad small {
  text-decoration: underline;
  letter-spacing: 0.5rem;
  font-weight: 500;
}
.nomad em {
  font-weight: 600;
}
.nomad a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.nomad img {
  width: 50%;
  align-self: flex-end;
}

@media (min-width: 750px) {
  .nomad-text {
    width: 30%;
    padding: 4rem;
  }
}
.easy-to-move {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 48px 0;
}
.easy-to-move video {
  width: 90%;
  padding: 24px 0;
}
.easy-to-move a {
  background: #FCED70;
  text-decoration: none;
  padding: 16px 24px;
  color: #000;
  border-radius: 4px;
  border: none;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 750px) {
  .easy-to-move {
    width: 100%;
  }
  .easy-to-move video {
    width: 100%;
  }
}
.subscribe {
  background: #514F4D;
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
  padding: 48px 16px;
}
.subscribe .subscribe-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.subscribe .subscribe-buttons a:first-child {
  background: none;
  text-decoration: none;
  padding: 16px 24px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
}
.subscribe .subscribe-buttons a:last-child {
  background: #fff;
  text-decoration: none;
  padding: 16px 24px;
  color: #000;
  border-radius: 4px;
  border: none;
}
.subscribe .subscribe-socialMedia {
  display: none;
}

@media (min-width: 750px) {
  .subscribe {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .subscribe .subscribe-buttons {
    flex-direction: row;
    gap: 0;
  }
  .subscribe .subscribe-socialMedia {
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 0 24px;
  }
}
footer {
  background: #131313;
  color: #fff;
  padding: 48px 0;
  font-size: 14px;
}
footer .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
footer ul {
  line-height: 2rem;
  list-style-type: none;
}
footer li:first-child {
  font-weight: bold;
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 10px;
  padding: 24px;
}

@media (min-width: 750px) {
  footer .container, footer .copyright {
    flex-direction: row;
    justify-content: space-between;
  }
}
.product {
  width: 95%;
  justify-self: center;
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.product-description h1 {
  font-weight: normal;
}
.product-description img {
  width: 100%;
}

.product-characteristics {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;
}
.product-characteristics .product-colors {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-characteristics .colors {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.product-characteristics .colors div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.product-characteristics .colors div:nth-child(1) {
  background: #011F89;
}
.product-characteristics .colors div:nth-child(2),
.product-characteristics .colors div:nth-child(4) {
  background: #3D8901;
}
.product-characteristics .colors div:nth-child(3) {
  background: #890109;
}
.product-characteristics .colors div:nth-child(5),
.product-characteristics .colors div:nth-child(6) {
  background: #131313;
}

.product-upgrade {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-upgrade div {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: #9C9C9C;
}
.product-upgrade a {
  background: #FCED70;
  text-decoration: none;
  padding: 16px 24px;
  color: #000;
  border-radius: 4px;
  border: none;
  margin: 16px 0;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.product-dimensions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 95%;
  margin: auto;
}
.product-dimensions-text > div {
  color: #9C9C9C;
  border-bottom: 1px solid #9C9C9C;
  padding: 1rem 0;
  line-height: 2rem;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 95%;
  padding: 2rem;
}
.about > p {
  font-size: 20px;
}
.about .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 1.5rem;
}

@media (min-width: 750px) {
  .product {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    width: 90%;
  }
  .product .product-description {
    width: 60%;
  }
  .product .product-characteristics {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 40%;
  }
  .product-upgrade a {
    margin: auto;
  }
  .product-dimensions {
    flex-direction: row;
    gap: 16px;
    padding: 4rem 0;
    width: 90%;
  }
  .product-dimensions img, .product-dimensions-text {
    width: 50%;
  }
  .product-dimensions-text > div {
    padding: 8px 0;
  }
  .about {
    width: 90%;
    justify-self: center;
  }
  .about .paragraphs {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
.product-features {
  text-align: center;
}
.product-features-icons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  width: 60%;
  padding: 2rem 0;
  justify-self: center;
}
.product-features-icons > div {
  width: 45%;
}
.product-features-icons > div img {
  width: 90%;
}
.product-features-content video {
  width: 95%;
}
.product-features-content > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1rem;
  text-align: left;
}
.product-features-content > div .content-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 150%;
}
.product-features-content p {
  font-size: 20px;
}
.product-features-content div > p {
  font-size: 14px;
}

.product-recommendation {
  padding: 48px 16px;
}
.product-recommendation h2 {
  text-align: center;
}
.product-recommendation img {
  width: 100%;
  padding: 1rem 0;
}
.product-recommendation b {
  font-size: 14px;
}
.product-recommendation p {
  font-size: 12px;
  color: #9C9C9C;
  padding-top: 4px;
}

@media (min-width: 750px) {
  .product-features {
    width: 90%;
    text-align: left;
    margin: auto;
    padding: 2rem 0;
  }
  .product-features-icons {
    flex-wrap: nowrap;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
  }
  .product-features-icons img {
    width: 60%;
  }
  .product-features-content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    padding: 4rem 0;
  }
  .product-features-content > div .content-item {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .product-features-content:last-child {
    flex-direction: row-reverse;
  }
  .product-features video {
    width: 50%;
  }
  .product-recommendation {
    width: 80%;
    margin: auto;
  }
  .product-recommendation > div {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .product-recommendation > div h2 {
    display: inline-block;
  }
}
.products-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
  padding: 3rem 0;
  justify-self: center;
}
.products-list-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.products-list a {
  background: #FCED70;
  text-decoration: none;
  padding: 16px 24px;
  color: #000;
  border-radius: 4px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.products-grid {
  display: grid;
  grid-template-columns: 1, 1fr;
  gap: 1rem;
}
.products-grid img {
  width: 100%;
  padding: 1rem 0;
}
.products-grid p {
  font-size: 12px;
  color: #9C9C9C;
  padding-top: 4px;
}

@media (min-width: 750px) {
  .products-list {
    width: 80%;
  }
  .products-list-text {
    width: 45%;
  }
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */