:root{
    --danger:#C23934;
    --success:#4BCA81;
}


.btn{
    border-radius: 4px;
    height: 32px;
    border: none;
    padding: 1px 16px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn__primary{
    background: var(--primary);
}

.btn__danger{
    background: var(--danger);
}

.btn__success{
    background: var(--success);
    color: var(--black);
}

.btn__secondary{
    border: 1px solid var(--primary);
    background: none;
    color: var(--primary);
}

.btn__secondary--danger{
    border: 1px solid var(--danger);
    background: none;
    color: var(--danger);

}

.btn__secondary--success{
    border: 1px solid var(--success);
    background: none;
    color: var(--success);

}
