@mixin button($bg: $white,$color:$black,$radius:0,$size:$paragraph) {
    font-size: $size;
    text-decoration: none;
    color: $color;
    padding: 8px 16px;
    background: $bg;
    border-radius: $radius;

    &:hover{
        cursor: pointer;
    }
}

