@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  text-align: center;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  gap: 16px;
  padding: 16px 24px;
  width: 100%;
  border-bottom: 1px solid #F5F5F5;
}
nav .nav--left-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  padding: 0 24px;
}
nav .nav--menu {
  display: none;
}
nav .nav--menu a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  padding: 8px 16px;
  background: #fff;
  border-radius: 0;
}
nav .nav--menu a:hover {
  cursor: pointer;
}
nav .nav--buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  padding: 0 24px;
}
nav .nav--buttons a:first-child {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  padding: 8px 16px;
  background: #fff;
  border-radius: 0;
}
nav .nav--buttons a:first-child:hover {
  cursor: pointer;
}
nav .nav--buttons a:last-child {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background: #000;
  border-radius: 0;
}
nav .nav--buttons a:last-child:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  width: 90%;
  font-size: 16px;
}
header .header_cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
}
header a:first-child {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background: #0064DA;
  border-radius: 0;
}
header a:first-child:hover {
  cursor: pointer;
}
header a:last-child {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background: #000;
  border-radius: 0;
}
header a:last-child:hover {
  cursor: pointer;
}
header .header--video {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}
header .header--video a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background: #0064DA;
  border-radius: 32px;
  align-self: center;
  transform: translate(0, -60%);
  width: 110px;
}
header .header--video a:hover {
  cursor: pointer;
}

.simple_works {
  background: #F5F5F5;
  font-size: 16px;
  padding: 40px 0;
}
.simple_works .simple_works--content p {
  width: 80%;
  justify-self: center;
}
.simple_works .simple_works--content img {
  width: 90%;
  padding: 8px;
}

.vertical_line {
  border-right: 2px solid #B8B8B8;
  width: 50%;
  height: 65px;
  align-self: start;
  transform: translate(0, 50%);
}

.solutions {
  font-size: 16px;
  padding: 40px 0;
}
.solutions p {
  width: 80%;
  justify-self: center;
}

.solutions_cards--container {
  background: #F5F5F5;
}

.solutions_cards--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  flex-wrap: wrap;
  gap: 16px;
}

.solutions_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  gap: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #C4C4C4;
  background: #fff;
  width: 35%;
  padding: 12px;
  transform: translate(0, -24px);
}
.solutions_cards .solutions_cards--subtitle {
  font-size: 14px;
}
.solutions_cards p {
  font-size: 10px;
}
.solutions_cards .solutions_cards--img {
  background: #0064DA;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.solutions_cards:hover {
  background: #0064DA;
  color: #fff;
  cursor: pointer;
  border: none;
}
.solutions_cards:hover:hover .solutions_cards--img {
  background-color: #fff;
}

.innovative {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  padding: 40px 0;
  gap: 16px;
}

.innovative_options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  gap: 16px;
}
.innovative_options a {
  font-size: 10px;
  text-decoration: none;
  color: #000;
  padding: 8px 16px;
  background: #fff;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #C4C4C4;
}
.innovative_options a:hover {
  cursor: pointer;
}
.innovative_options a:first-child {
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background: #0064DA;
  border-radius: 16px;
  border: 0;
}
.innovative_options a:first-child:hover {
  cursor: pointer;
}

.innovative_card--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  flex-wrap: wrap;
  padding: 8px;
  gap: 8px;
}

.innovative_card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  width: 45%;
  padding: 4px;
  gap: 16px;
  text-align: start;
  font-size: 10px;
}
.innovative_card .innovative_card--img {
  width: 100%;
  height: 150px;
  background: #C4C4C4;
  border-radius: 4px;
}
.innovative_card a {
  font-size: 10px;
  text-decoration: none;
  color: #000;
  padding: 8px 16px;
  background: #fff;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #C4C4C4;
}
.innovative_card a:hover {
  cursor: pointer;
}
.innovative_card a:last-child {
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background: #0064DA;
  border-radius: 16px;
  border: 0;
}
.innovative_card a:last-child:hover {
  cursor: pointer;
}
.innovative_card .innovative_card--author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-radius: 0;
  gap: 16px;
  gap: 8px;
}
.innovative_card .innovative_card--author--img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #C4C4C4;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 16px;
  background: #0064DA;
  color: #fff;
  width: 100%;
  height: 380px;
}
.cta p {
  font-size: 30px;
}
.cta a {
  font-size: 14px;
  text-decoration: none;
  color: #0064DA;
  padding: 8px 16px;
  background: #fff;
  border-radius: 0;
}
.cta a:hover {
  cursor: pointer;
}

footer {
  border-top: 1px solid #F5F5F5;
  margin-top: 40px;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  padding: 40px 0;
}
footer p {
  font-size: 14px;
}
footer input {
  border-width: 1px;
  border-style: solid;
  border-color: #F5F5F5;
  color: #F5F5F5;
  padding: 8px 16px;
  font-size: 14px;
}
footer input:enabled {
  color: #000;
}
footer button {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background: #000;
  border-radius: 0;
  border: none;
}
footer button:hover {
  cursor: pointer;
}
footer .footer_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 24px;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding: 4px 8px;
}
footer ul li:first-child {
  font-weight: bold;
}
footer img {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  nav .nav--menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    gap: 16px;
    gap: 16px;
    font-size: 14px;
  }
  header {
    width: 50%;
  }
  header .header--video {
    width: 70%;
  }
  .simple_works--content {
    width: 50%;
    justify-self: center;
  }
  .solutions {
    width: 60%;
  }
  .solutions_cards--container {
    background: #220000;
  }
  .solutions_cards--content {
    width: 50%;
    justify-self: center;
  }
  .solutions_cards {
    width: 25%;
  }
  .innovative_card {
    width: 20%;
  }
  .cta {
    width: 90%;
    height: 200px;
    flex-direction: row;
    justify-content: space-around;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 0;
    gap: 16px;
    padding: 40px 0;
  }
  footer img {
    padding: 16px;
  }
  footer li, footer .form {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */