
@import 'general/typography';
@import 'general/colors';
@import 'general/button';
@import 'general/mixins';

body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    @include display();
    text-align: center; 
    width: 100%;

}

@import '_nav';
@import '_header';
@import '_simple_works';
@import '_solutions';
@import '_innovative';
@import '_cta';
@import '_footer';

@import '_desktop';
