@import '../mixins';

.characteristics{
    background: $section-bg;
    padding: 48px 0;

    .characteristics-shipping,.characteristics-modular,.characteristics-trees{
        @include display(row,16px);
        padding: 16px;
        align-items: center;
    }
}

@media (min-width:750px) {

    .characteristics{
        @include display(row);
        justify-content: center;
    }

    .characteristics-shipping,.characteristics-modular,.characteristics-trees{
        width: 25%;
    }


    
}