@import '../mixins';

.nomad{
    background: $section-bg;
    @include display($gap:0);


    small{
        text-decoration: underline;
        letter-spacing: 0.5rem;
        font-weight: 500;
    }

    em{
        font-weight: 600;
    }

    a{
        text-decoration: none;
        color: $black;
        font-weight: 600;

    }

    img{
        height: 296px;
        width: 296px;
        align-self: flex-end;
    }

    .nomad-text{
        padding: 16px;
        @include display();
    }

}

@media (min-width:750px){

    .nomad{
        img{
            height: 696px;
            width: 696px;
            align-self: flex-end;
        }

        .nomad-text{
            padding: 148px 0 0 148px;
    }
    }
    }