@import "../mixins";

.nomad {
  background: $section-bg;
  @include display($gap: 0);

  &-text {
    width: 60%;
    padding: 2rem 1rem;
    @include display();
  }

  small {
    text-decoration: underline;
    letter-spacing: 0.5rem;
    font-weight: 500;
  }

  em {
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: $black;
    font-weight: 600;
  }

  img {
    width: 50%;
    align-self: flex-end;
  }
}

@media (min-width: 750px) {
  .nomad {
    &-text {
      width: 30%;
      padding: 4rem;
    }
  }
}
